@import "../../styles/theme";
@import "../../styles/typed";

.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
}

.name {
  font-family: "Sora", sans-serif;
  font-size: $text-large;
  letter-spacing: 5px;
  color: $accent-light;
}

.title {
  display: inline-block;
}

.titleText {
  display: inline-block;
  font-weight: normal;
  font-size: $heading-large;
  color: $text-light;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .titleText {
    font-size: $heading-medium;
  }
}

.persona {
  color: $text-light;
  &::before {
    color: $accent-light;
    font-weight: normal;
  }
  @include typed(
    "am a software engineer",
    "am a web developer",
    "am a UI designer",
    "am a tech-enthusiast",
    "work on open-source projects",
    "read about latest tech trends",
    "am still learning the latest js framework",
    "am a gamer",
    "play sports on the weekends",
    "love to travel",
    "am learning how to cook",
    "am not a fan of prawns",
    "enjoy patronizing ice cream shops",
    "like to snowboard",
    "know where you live!!",
    "am joking...",
    "hope that you aren't mad",
    "am not sure why you are still here...",
    "hoped that you moved to other sections",
    "am going to repeat now",
    (
      type: 0.05,
      pause-typed: 0.5,
      delete: 0.05,
    ),
    (
      caret-width: 2px,
      caret-space: 2px,
    )
  );
}
