@import "styles/theme";

.projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0;
}

.title-holder {
  width: 60%;
}

.title {
  font-weight: 400;
  font-size: $heading-medium;
  color: $text-light;
}

.portfolio-wheel-holder {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 60vh;
  overflow-y: auto;
}
