@import "styles/theme";

.projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  // height: 100vh;
  min-height: 0;
  padding: 2rem 0;
}

.title-holder {
  width: 60%;
}

.title {
  font-weight: 400;
  font-size: $heading-medium;
  color: $text-light;
}

.grid-container {
  display: inline-grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5%;
  width: 60%;
}
