@import "styles/theme";

.experience-layout {
  display: flex;
  flex-direction: column;
}
.experience-header {
  display: flex;
  font-size: $text-large;
  > * + * {
    margin-left: 1rem;
  }
}

.job-title {
  color: $accent-light;
}

.company {
  color: $gray-text-light;
}

.experience-sub-header {
  font-size: $text-small;
}
