@import "styles/theme";

.project-card {
  height: 400px;
  width: 300px;
  background-color: #e2f1f1;
}

.project-card-inner {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: $secondary-light;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the shadow values as needed */
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  // &.expanded {
  //   width: 50%;
  //   height: 50%;
  //   position: fixed;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%) scale(1);
  //   z-index: 2;
  //   overflow: hidden;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}

.project-card-content {
  color: $text-light;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: $primary-light;
  // font-size: 1.5rem;
  cursor: pointer;
}
