@import "../../../../styles/theme";

.card-container {
  perspective: 1000px;
  position: relative;
  height: 200px;

  @media only screen and (max-width: 700px) {
    height: 250px;
  }

  @media only screen and (max-width: 930px) {
    height: 220px;
  }

  @media only screen and (max-width: 700px) {
    height: 280px;
  }

  @media only screen and (max-width: 500px) {
    height: 320px;
  }

  @media only screen and (max-width: 420px) {
    height: 400px;
  }

  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    transform: translateY(-20px);
  }
}

.card {
  display: flex;
  justify-content: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100%;
  height: 100%;
  &::after {
    content: "";
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover::after {
    opacity: 1;
  }
}

.card-front,
.card-back {
  position: absolute;
  width: 90%;
  height: 91%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  overflow: hidden;
}

.card-front {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  padding: 1rem 0;
}

.card-back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);

  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.card.flipped {
  -webkit-transform: rotateX(0deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.card.flipped {
  -webkit-transform: rotateX(0deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.card-header {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin: 0;
  color: $accent-light;
}

.card-subtitle {
  color: $gray-text-light;
}

.card-description {
  margin-top: 0.5rem;
  color: $accent-light;
}

.card-back-title {
  width: 20%;
  color: $accent-light;
  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}

.card-back-divider {
  height: 70%;
  border: $secondary-light 1px solid;
  opacity: 0.3;

  margin: 0 15px 20px 10px;

  @media only screen and (max-width: 900px) {
    width: 100%;
    height: 0;
    margin: 0;
  }
}

.card-back-funfact {
  width: 78%;
  color: $accent-light;
  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}
