$primary-light: #54a4a5;
$secondary-light: #6fbbbb;
$accent-light: #005365;

$text-light: #333;
$foreground-text-light: #fff;
$gray-text-light: #8c9bb6;

$text-small: 1.1em;
$text-medium: 1.3em;
$text-large: 1.5em;

$heading-small: 2em;
$heading-medium: 3.5em;
$heading-large: 5em;

$background-light: #ffffff;

$title-width: 70%;

// $primary-foreground-light: #ffffff;
// $secondary-foreground-light: #333333;
// $text-light: #314163;
// $subtext-light: #828894;
// $background-secondary-light: #ededef;

$bg-svg: url("../assets/bg/bg-cropped.svg");

// @font-face {
//   font-family: "Sora";
//   src: url("../assets/fonts/Sora-Thin.ttf") format("truetype");
//   font-weight: 100;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Sora";
//   src: url("../assets/fonts/Sora-ExtraLight.ttf") format("truetype");
//   font-weight: 200;
//   font-style: normal;
// }

@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/Sora-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/Sora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/Sora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: bold;
}

// @font-face {
//   font-family: "Sora";
//   src: url("../assets/fonts/Sora-SemiBold.ttf") format("truetype");
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Sora";
//   src: url("../assets/fonts/Sora-Bold.ttf") format("truetype");
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Sora";
//   src: url("../assets/fonts/Sora-ExtraBold.ttf") format("truetype");
//   font-weight: 800;
//   font-style: normal;
// }

// $primary-dark:
// $primary-foreground-dark:
// $secondary-dark
// $secondary-foreground-dark
// $subtext-dark:
// $text-dark:
