$primary-light: #836ee6;
$primary-foreground-light: #ffffff;
$secondary-light: #fbfafe;
$secondary-foreground-light: #333333;
$text-light: #314163;
$subtext-light: #a0acc3;
$background-light: #ffffff;
$background-secondary-light: #ededef;

$bg-svg: url("../assets/bg/bg-cropped.svg");

// $primary-dark:
// $primary-foreground-dark:
// $secondary-dark
// $secondary-foreground-dark
// $subtext-dark:
// $text-dark:
