@import "styles/theme";

.portfolio-wheel-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 60vh;
    overflow-y: auto
}