@import "../../styles/theme";

@mixin button($py, $px, $text-size, $letter-spacing) {
  font-family: "Sora", sans-serif;
  font-size: $text-size;
  background-color: $primary-light;
  color: $foreground-text-light;
  letter-spacing: $letter-spacing;
  display: inline-block;
  padding: $py $px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease; /* Add a smooth transition on hover */

  &:hover {
    background-color: $accent-light;
    animation: jello-horizontal 0.8s both;
  }
}

.large {
  @include button(30px, 60px, $text-medium, 4px);
}

.medium {
  @include button(15px, 30px, $text-small, 3px);
}

.small {
  @include button(10px, 20px, $text-very-small, 2px);
}

.icon {
  @include button(10px, 12px, $text-very-small, 2px);
}

.rounded {
  border-radius: 50px;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
