@import "../../styles/theme";
@import "../../styles/fonts";

.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
}

.name {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 5px;
}

.title {
  font-weight: 400;
  font-size: 5em;
  color: $text-light;
}

.button {
  font-family: "Sora", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  letter-spacing: 4px;

  display: inline-block;
  padding: 25px 50px;
  border: none;
  border-radius: 50px;
  background-color: $secondary-light;
  color: $primary-foreground-light;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition on hover */

  &:hover {
    background-color: $primary-light;
  }
  // background: $secondary-light;
  // border-color: $secondary-light;
  // box-shadow: none;
  // color: $primary-foreground-light;
  // border-radius: 25px;
}
