@import "styles/theme";

.project-content-holder {
  position: relative;
  display: flex;
  height: 100%;
}

.gallery-holder {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.details-holder {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
